.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-container{
  border-radius: 10px;
  min-width: 600px;
  height: 600px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 8rem;
}

button{
  margin: 6px;
  background: #282c34;
  border-radius: 10px;
  color: antiquewhite;
  font-size: 3rem;
  cursor: pointer;
}


